/*Animation*/
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

/*@-webkit-keyframes slideright {
	  from {
	    -webkit-transform: translate3d(100%, 0, 0);
	    transform: translate3d(100%, 0, 0);
	    visibility: visible;
	opacity: 0;
	  }
  30% {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	opacity: 1;
	  }
  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	opacity: 1;
	  }
}
@keyframes slideright {
	  from {
	    -webkit-transform: translate3d(100%, 0, 0);
	    transform: translate3d(100%, 0, 0);
	    visibility: visible;
	opacity: 0;
	  }
  30% {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	opacity: 1;
	  }
  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	opacity: 1;
	  }
}
@-webkit-keyframes slideleft {
	  from {
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	    visibility: visible;
	opacity: 0;
	  }
  30% {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	opacity: 1;
	  }
  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	opacity: 1;
	  }
}
@keyframes slideleft {
	  from {
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	    visibility: visible;
	opacity: 0;
	  }
  30% {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	opacity: 1;
	  }
  to {
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	opacity: 1;
	  }
}*/
@keyframes fadein {
	    from {
	        opacity: 0;
	    }
    to {
	        opacity: 1;
	    }
}
@-webkit-keyframes fadein {
	    from {
	        opacity: 0;
	    }
    to {
	        opacity: 1;
	    }
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 } 

html {
     height: 100%;
     font-size: 16px;
 }
 
 body {
     font-family: 'Poppins', sans-serif;
     min-height: 100%;
     color: #22356f;
 }
 
 body.landing {
     /*background-color: #333333;*/
 }
.content {
    padding: 2px 5% 0 5%;
}
.navbar {
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #fff;
    z-index: 1;
    top: 0;
 }
 
 .navbar .logo,
.footer .logo{
     position: relative;
     height: 40px;
     margin: 10px 0 10px 0;
     cursor: pointer; /*finger-pointer icon when you hover*/
 }
.navbar .links-container {
     display: table;
     position: relative;
     top: 0;
     float: right;
     height: 60px;
     color: white;
     text-decoration: none;
    font-size: 14px;
}
.links-container ul {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}
.links-container ul > li {
    display: inline-block;
    padding-left: 20px;
}

.links-container ul > li > a {
    text-decoration: none;
    color: #22356f;
}
.links-container ul > li > a.btn-outline {
    text-decoration: none;
    color: #22356f;
    border: 2px solid #22356f;
    border-radius: 50px;
    padding: 8px 25px;
    transition: .3s; 
}
.links-container ul > li > a.btn-outline:hover {
        text-decoration: none;
    color: #ffffff;
    background-color: #22356f;
    border: 2px solid #22356f; /*#d83e72;*/
    border-radius: 50px;
    padding: 8px 25px;
}

.links-container img {
    height: 20px;
    margin: 0 0 -4px 0;
}

.links-container .navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: middle; /*vertical align within table-cell display!!*/
     color: white;
     font-size: 0.625rem;
     letter-spacing: 0.05rem;
     text-decoration: none;
     cursor: pointer;
 }
 
 .links-container ul > li > a:hover {
     color: #BD2659;
 }
 .links-container ul > li > a:active {
     color: #BD2659;
 }

 .header {
   position: relative;
    height: 70vh;
    /* background: #e4f7fb; */
    background: url(../images/sloth-header2b.png) no-repeat 70% center fixed;
     background-size: cover;
    margin: 0 8% 30px 8%;
 }

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #12121B;
    opacity: .35;
}

.hero { /*if i dont put this in a table, it pushes the hero bg down*/ 
   height: 70vh;
    width: 100%;
    display: table;
}
h1 {
    font-family: "Montserrat", "PT Serif";
    font-size: 40px;
    color: #22356f;
}
h3 {
    color: #22356f;
    font-weight: 500;
}

a.pinklink {
    color: #BD2659;
    text-decoration: none;
}

.hero-content {
     /*position: absolute;
     top: 40%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);*/
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 5%;
 }
.hero-content h1 {
    width: 40%;
    /*text-shadow: 1px 1px 0px rgb(58,23,63);*/
    color: #22356f;
}
.hero-content p {
    /*width: 30%;*/
    margin: 0 0 30px 0;
    /*text-shadow: 1px 1px 0px rgb(58,23,63);*/
    color: #22356f;
}
.btn-action {
    text-decoration: none;
    color: #22356f;
    background-color: transparent;
    border: 2px solid #22356f;
    border-radius: 50px;
    padding: 8px 25px;
    margin-top: 20px;
    transition: .3s; 
}
.btn-action:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #22356f;
    border: 2px solid #22356f;
    border-radius: 50px;
    padding: 8px 25px;
}
.btn-action:action {
    text-decoration: none;
    color: #ffffff;
    background-color: #22356f;
    border: 2px solid #22356f;
    border-radius: 50px;
    padding: 8px 25px;
}



.numbersold {
    height: 80px;
    padding: 3px 10%;
    text-align: center;
    background-color: #fff;
    margin: 10px 0 60px 0;
}

/* Counter--------------*/
#scrolling
{
  width: auto;
    height: auto;
    margin: 0 8px 0 0;
    display: inline-block;
}
.count
{
  color: #22356f;
}

h2.plushies-sold {
    display: inline-block;
    width: auto;
}


.downward {
display: block;
    text-align: center;
    height: 30px;
}

 
.bounce {
 position: absolute;
    bottom: 70px;
    left: 49%;
    width: 20px;
    height: 10px;
    margin: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 3s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
     -webkit-animation-delay: 4s; 
    animation-delay: 4s;
}


.selling-points {
    position: relative;
     /* display: table;
        width: 100%;    we remove table bc we have put this into the grid system class colummn*/
    text-align: center;
    background: #f9fcf0;
    margin: 100px 0 0 0;
 }
 
 .point {
     /*display: table-cell; (bc see above) */
     position: relative;
     /*width: 33.3%;*/
     padding: 2rem;
     text-align: center;
 }
 
 .point .point-title {
     font-size: 1.25rem;
    font-weight: 500;
    color: #22356f;
 }
 
.three-ways {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


 .upload,
 .choose,
 .draw p {
     color: #9B9B9B;
     font-size: 1rem;
 }

 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 .container { /*so content in container isn't warped the larger the browser window*/
     padding: 8% 10%;
     max-width: 100%;
 }

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}

.container.narrow {
     max-width: 56rem;
}

.howitworks{
    max-width: 85%;
    margin: 0;
}
.join {
    max-width: 100%;
    margin: 0;
}
.joinus {
    margin: 0;
}

/*.insta1 { img in html
    max-width: 100%;
    max-height: 235px;
    margin: 0 20px 20px 0;
}*/
.insta2 {
    max-width: 100%;
    background-size: cover;
    margin: 0;
}

.designonline {
    margin: 0 0 -30px 0;
}
.track {
 background-image: url(../images/machine-pink.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 90%;
}

.personalize {
    background-color: #fff;
}

.need-inspiration {
background-image: url(../images/clouds3.png);
    background-repeat: no-repeat;
    margin: 0 0 -10% 0;
    background-size: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%); 
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%); 
    background-color: #fff;
    background-position-y: 100%;
 }

.addstickers {
    animation: fadein 2.5s 1;
    animation-direction: alternate;
    -webkit-animation: fadein 2.5s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation: fadein 2.5s 1;
    -moz-animation-direction: alternate;
    -ms-animation: fadein 2.5s 1;
    -ms-animation-direction: alternate;
    -o-animation: fadein 2.5s 1;
    -o-animation-direction: alternate;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    top:0;
}
.addstickers2 {
    animation: fadein 2.5s 1;
    animation-direction: alternate;
    -webkit-animation: fadein 2.5s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation: fadein 2.5s 1;
    -moz-animation-direction: alternate;
    -ms-animation: fadein 2.5s 1;
    -ms-animation-direction: alternate;
    -o-animation: fadein 2.5s 1;
    -o-animation-direction: alternate;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.footer {
    height: 10vh;
    bottom: 0;
    margin: 0 8%;
}
.footer ul {
    list-style: none;
}
.footer ul li {
    line-height: 30px;
}
.footer ul > li > a {
    text-decoration: none;
    color: #12121B;
}
.footer ul > li > a:hover {
     color: #BD2659;
}
.footer ul > li > a:active {
     color: #BD2659;
}

 /* Medium and small screens (640px) */
@media (min-width: 640px) {
    html { 
        font-size: 90%; 
    }
    .column { /*grid*/
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .column.full { 
        width: 100%; 
    }
    .column.two-thirds { 
        width: 66.7%; 
    }
    .column.half { 
        width: 50%; 
    }
    .column.half.left {
    text-align: left;
    padding: 8%;
}
    .column.half.right {
    text-align: left;
    padding: 8%;
}
.column.half.left p,
.column.half.right p,
.column.half.right a{
    margin: 30px 0px 30px 0px;
}
    .column.third { 
        width: 33.3%;
        padding: 3%;
    }
    .column.fourth { 
        width: 25%; 
    }
     .column.fifth { 
        text-align: left; 
    }
    .column.flow-opposite { 
        float: right; 
    } 
    .insta2 {
    max-width: 100%;
    background-size: cover;
    margin: 0 0 25px 0;
}
 }

 
 /* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 100%; }
 }