/*Fonts*/
@import url(https://fonts.googleapis.com/css?family=Poppins);

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 } 

html {
     height: 100%;
     font-size: 100%;
 }
 
 body {
     font-family: 'Poppins', sans-serif;
     min-height: 100%;
 }
 
 body.landing {
     /*background-color: #333333;*/
 }
.content {
    padding: 0 10% 0 10%;
}
.navbar {
     position: fixed; 
    width: 100%;
    height: 60px;
     background-color: rgba(255,255,255,0.9);
     z-index: 1;
    top: 0;
 }
 
 .navbar .logo {
     position: relative;
     height: 40px;
     margin: 10px 0 10px 0;
     cursor: pointer; /*finger-pointer icon when you hover*/
 }
.navbar .links-container {
     display: table;
     position: relative;
     top: 0;
     float: right;
     height: 60px;
     color: white;
     text-decoration: none;
    font-size: 14px;
}
.links-container ul {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
}
.links-container ul > li {
    display: inline-block;
    padding-left: 20px;
}

.links-container ul > li > a {
    text-decoration: none;
    color: #12121B;
}
.links-container ul > li > a.btn-outline {
    text-decoration: none;
    color: #BD2659;
    border: 1px solid #BD2659;
    border-radius: 3px;
    padding: 8px 14px;
}
.links-container ul > li > a.btn-outline:hover {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #BD2659;
    background-color: #BD2659;
    border-radius: 3px;
    padding: 8px 14px;
}

.links-container img {
    height: 16px;
}

.links-container .navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: middle; /*vertical align within table-cell display!!*/
     color: white;
     font-size: 0.625rem;
     letter-spacing: 0.05rem;
     text-decoration: none;
     cursor: pointer;
 }
 
 .links-container ul > li > a:hover {
     color: #BD2659;
 }
 .links-container ul > li > a:active {
     color: #BD2659;
 }

 .header {
     position: relative; 
     height: 90vh;
     background-image: url(../images/tiger2.png);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    background-color: #12121B;
    opacity: .35;
}

.hero { /*if i dont put this in a table, it pushes the hero bg down*/ 
    height: 90vh;
    width: 100vw;
    display: table;
    top: 40%;
}
h1 {
    font-family: "PT Serif";
    font-size: 48px;
    font-weight: bold;
}

.hero-content {
    display: table-cell;
     /*position: absolute;
     top: 40%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);*/
    vertical-align: middle;
     text-align: left;
    width: 100vw;
 }
.hero-content h1 {
    width: 30%;
    text-shadow: 1px 1px 0px rgb(58,23,63);
    color: #ffffff;
}

.btn-action {
    text-decoration: none;
    color: #ffffff;
    background-color: #BD2659;
    border: 1px solid #BD2659;
    border-radius: 3px;
    padding: 8px 14px;
    margin-top: 20px;
}
.btn-action:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #d83e72;
    border: 1px solid #d83e72;
    border-radius: 3px;
    padding: 8px 14px;
}
.btn-action:action {
    text-decoration: none;
    color: #ffffff;
    background-color: #d83e72;
    border: 1px solid #d83e72;
    border-radius: 3px;
    padding: 8px 14px;
}







.selling-points {
    position: relative;
     /* display: table;
        width: 100%;    we remove table bc we have put this into the grid system class colummn*/
    text-align: center;
    margin: 20px 0 20px 0;
 }
 
 .point {
     /*display: table-cell; (bc see above) */
     position: relative;
     /*width: 33.3%;*/
     padding: 2rem;
     text-align: center;
 }
 
 .point .point-title {
     font-size: 1.25rem;
 }
 
.three-ways {
    border-radius: 50%;
    height: 190px;
    width: 190px;
}


 .upload,
 .choose,
 .draw p {
     color: #9B9B9B;
     font-size: 1rem;
 }

 *, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 .container { /*so content in container isn't warped the larger the browser window*/
     margin: 0 10%;
     max-width: 64rem;
 }

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}

.container.narrow {
     max-width: 56rem;
}


 /* Medium and small screens (640px) */
@media (min-width: 640px) {
    html { 
        font-size: 112%; 
    }
    .column { /*grid*/
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .column.full { 
        width: 100%; 
    }
    .column.two-thirds { 
        width: 66.7%; 
    }
    .column.half { 
        width: 50%; 
    }
    .column.third { 
        width: 33.3%; 
    }
    .column.fourth { 
        width: 25%; 
    }
    .column.flow-opposite { 
        float: right; 
    } 
 }

 
 /* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
 }